{% extends 'base.html.twig' %}

{% block title %}Hello PersonageController!{% endblock %}

{% block body %}
	<h2 class="m-2 p-2 text-white text-center bg-primary rounded"> Accueil </h2>
{% endblock %}
